<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oops! Page not found.</title>
    <style>
        body {background-color: powderblue; text-align: center;}
        h3 {color: maroon;}
        h1 {color: green;}
        .calc {color: red;}
        .sorry {color: green;}
    </style>
</head>
<body>
<h3>Sorry, page not found.</h3>
<p class="calc">If you were trying to use division function in calculator app,
    please use "%" for division instead of "/"</p>
<p class="sorry">Sorry for the inconvenience the app is still a work in progress.</p>
</body>
</html>